@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Colors */
.mainCardTitleBlue{
  color: #4CC1FF;
}

.mainCardStroke{
  border: 3px solid #0A192C;
}

.underscore{
  margin-top: 10px;
}

.underscore a{
  font-size: 13px;
  color:  #4CC1FF;
  text-decoration: underline;
  margin-top: 10px;
  cursor: pointer;
  transition: .5s;
}

.underscore a:hover{
  font-weight: 700;
  color:  #0a1f44;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  background: #0a1f44;
  background-image: url('../public/img/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  overflow: auto;
}

body{
  /* height: 100vh; */
}